body {
	background-color: lightblue;
}

h1 {
	font-family: Georgia, serif;
	font-size: 30px;
	color: indigo;
}

h2 {
	font-family: Georgia, serif;
	font-size: 24px;
	color: indigo;
}

p {
	font-family: Georgia, serif;
	font-size: 16px;
	color: blue;
	float: right;
}

li {
	border: 3px solid indigo;
	background-color: lightblue;
	padding: 6px;
	margin: 10px;
	color: blue;
}

img {
	display: block;
	border: 3px solid indigo;
	height: 200px;
	float: left;
}
