body {
	background-color: #0B0C10;
}

h1 {
	font-family: Georgia, serif;
	font-size: 30px;
	color: #66FCF1;
}

h2 {
	font-family: Georgia, serif;
	font-size: 24px;
	color: #66FCF1;
}

p {
	font-family: Georgia, serif;
	font-size: 16px;
	color: #45A29E;
}

li {
	background-color: lightblue;
	padding: 6px;
	margin: 10px;
	color: #C5C6C7;
}

img {
	border: 3px solid indigo;
}

a {
	color: blue
}

.center {
	display: block;
	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}

.page {
	display: inline;
	border: 3px solid indigo;
	background-color: lightblue;
	padding: 6px;
	margin: 10px;
	color: indigo;
}

.topnav {
    background-color: #0B0C10;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #66FCF1;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #1F2833;
    color: #45A29E;
}

.topnav a.active {
    background-color: #1F2833;
    color: #45A29E;
}
